/************* 
/************** GENERIC SETTINGS  */
 
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.65rem;
  color: #393d41;
}

/* utility */
.red-border {
  border: 1px solid red;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
  color: #25a2c3;
}

.title-small {
  color: #25a6cb;
  font-weight: bold;
}

.button-orange {
  font-family: "Montserrat", sans-serif;
  background-color: #E52C0E; 
  font-weight: bold;
  color: white;
  border: 0px;
  border-radius: 0.3rem;
}

.icon-white {
    color: white;
}

/************** 
/************** HEADER */

header {
  height: 80px;
  text-align: center;
  background-color: black;
  /* padding-inline: 3rem; */
  padding-block: 2rem;
  /* padding: ; */
}

header .logo {
  height: 60px;
  max-width: 300px;
  display: block;
  margin: auto;
  /* margin-bottom: -10px; */
}

/************** 
*************** MAIN */

/* SECTION: FIRST IMPRESSION */

main .first-impression {
  /* min-height: 30rem; */
  text-align: center;
  padding: 2rem;
  background-image: url("../images/banner.jpg");
  background-size: contain;
}

main .first-impression .title-contents {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  /* font-weight: bold; */
}

main .first-impression .title-contents p {
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
}

main .first-impression .statement {
  margin-bottom: 2rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

main .first-impression button.partiamo {
  text-transform: uppercase;
  padding-block: 1rem;
  padding-inline: 1.3rem;
  font-size: 1.1rem;
}

/* SECTION: ADVANTAGES */

main .advantages {
  text-align: center;
  padding: 3rem 2rem;
}

main .advantages .advantage:not(:last-child) {
  margin-bottom: 2.5rem;
}

main .advantages .advantage .title {
  margin-bottom: 1rem;
}

main .advantages .advantage img {
  width: 70%;
  max-width: 300px;
  border-radius: 50%;
  margin-top: 1.5rem;
}

/* SECTION: GUARANTEE */

main .guarantee {
  padding-block: 3.5rem 2rem;
  padding-inline: 2rem;
  color: white;
  background-color: #E52C0E;
  text-align: center;
}

main .guarantee .heading {
  margin-bottom: 2rem;
  color: white;
  font-size: 2rem;
}

main .guarantee .promise {
  margin-bottom: 2rem;
  font-style: italic;
  font-size: 1rem;
}

main .guarantee .ceo-contents {
  line-height: 2rem;
}

main .guarantee .ceo-contents .ceo-name {
  font-size: 1.5rem;
}

main .guarantee .ceo-contents .ceo-name {
  font-size: 1.5rem;
}

main .guarantee .ceo-contents .ceo-definition {
  font-size: 0.8rem;
}

/* SECTION: FEATURES */

main .features {
  padding-inline: 2rem;
  padding-block: 3rem;
}

main .features .feature-card {
  text-align: center;
  border: 1px solid #dee1e3;
  border-radius: 0.3rem;
}

main .features .feature-card:not(:last-child) {
  margin-bottom: 2rem;
}

main .features .feature-card .media img {
  width: 100%;
}

main .features .feature-card .content {
  padding-inline: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

main .features .feature-card .content .title {
  margin-bottom: 1rem;
}

/************** 
/************** FOOTER */

footer {
  color: #c8e7f0;
  background-color: #2c9eca;
  padding-inline: 2.5rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  text-align: center;
  font-size: .8rem;
}

footer a {
  color: #c8e7f0;
  text-decoration: underline;
}

footer .heading {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

footer .info {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

footer .info p:not(:last-child) {
    margin-bottom: .5rem;
}

footer .line {
  width: 70%;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  display: inline-block;
}

footer .copyright {
  font-size: 1rem;
}
